<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="panelId" value="1"/>
    <add key="KinesisPanelUserName" value="maluns"/>
    <add key="KinesisPanelPassword" value="malu@123"/>
    <add key="KinesisAPI" value="https://ideashifters.com/panel/api.pro"/>
    <add key="CampaignSenderName1" value="IdeaShifters"/>
    <add key="CampaignSenderEmail1" value="info@ideashifters.com"/>
    <add key="Locale" value="[1,3,4,5,6]"/>
    <add key="LocaleRem" value="1,3,4,5,6"/>
    <add key="KinesisAPIErrorEmailEnableSsl" value="True"/>
    <add key="KinesisAPIErrorEmailFrom" value="rakesh@paradigmsample.com"/>
    <add key="KinesisAPIErrorEmailSubject" value="Error in SCHUniversal Project Service"/>
    <add key="SendKinesisAPIErrorEmail" value="1"/>
    <add key="KinesisAPIErrorEmailIds" value="rakesh@paradigmsample.com,rakesh.krishnan@experionglobal.com,malu.ns@experionglobal.com"/>

  </appSettings>
  <connectionStrings>
    <add name="SCHUniversal" connectionString="data source=192.168.1.7\sql2k8; initial catalog=SCHUniversalAPITest;User ID=empuser;Password=emp@123;pooling='true';Max Pool Size=1000000" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp from="schservicemail@gmail.com">
        <network host="smtp.gmail.com" port="587" userName="schservicemail@gmail.com" password="Ind!@n2015" defaultCredentials="false" />
      </smtp>
    </mailSettings>

  </system.net>
</configuration>